<div class="uk-container uk-container-small uk-position-relative">
  <form class="uk-grid-small" uk-grid>
    <div class="uk-width-1-3">
      <div class="uk-form-label">本場</div>
    </div>
    <div class="uk-width-1-3">
      <div class="uk-form-label">供託</div>
    </div>
    <div class="uk-width-1-3">
      <div class="uk-form-label">別卓トップ（4者以上の場合）</div>
    </div>

    <div class="uk-width-1-3">
      <input form="conditions" class="uk-input" type="number" name="stage_count">
    </div>
    <div class="uk-width-1-3">
      <input form="conditions" class="uk-input" type="number" name="deposit">
    </div>
    <div class="uk-width-1-3">
      <input form="conditions" class="uk-input" type="number" name="other_table_total">
    </div>
  </form>
</div>