<div class="uk-container uk-container-small uk-position-relative">
  <form class="uk-grid-small uk-margin-bottom" uk-grid>
    <div class="uk-width-1-1">
      <label class="uk-form-label uk-width-1-1"><%= wind_caption %></label>
    </div>
    <div class="uk-width-1-2@s">
      <input class="uk-input" type="text" placeholder="現在の展望状況">
    </div>
    <div class="uk-width-1-2@s">
      <input class="uk-input" type="text" placeholder="総合ポイント">
    </div>
  </form>
</div>