<div class="uk-container uk-container-small uk-position-relative">
  <form class="uk-grid-small uk-margin-bottom" uk-grid>
    <div class="uk-width-1-2@s">
      <label class="uk-form-label uk-width-1-1"><%= wind_caption %> : 点棒状況</label>
      <input form="conditions"
             value="25000"
             step="100"
             class="uk-input tenbou"
             type="number"
             placeholder="現在の持ち点"
             name="<%= wind %>_point">
    </div>
    <div class="uk-width-1-2@s">
      <label class="uk-form-label uk-width-1-1">合計ポイント</label>
      <input form="conditions"
             value="0"
             step="0.1"
             class="uk-input"
             type="number"
             placeholder="総合ポイント"
             name="<%= wind %>_total">
    </div>
  </form>
</div>