<div class="uk-card uk-card-default uk-card-body uk-position-bottom uk-background-secondary uk-light">
  <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
