<nav class="uk-container uk-container-expand uk-background-muted" uk-navbar>
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li>
        <a href="/condition/information">条件計算</a>
      </li>
    </ul>
  </div>
</nav>