<nav class="uk-container uk-container-expand" uk-navbar>
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li>
        <a href="#">UIPIKI</a>
        <div class="uk-navbar-dropdown uk-navbar-item">
        </div>
      </li>
    </ul>
  </div>
</nav>