<div class="uk-container uk-container-small uk-position-relative">
  <table class="uk-table uk-table-middle uk-table-divider">
    <%= render :partial => 'condition/_partial/condition_table_header' %>
    <%= render :partial => 'condition/_partial/condition_table_body' %>
  </table>
</div>