<div class="uk-container uk-container-center">
  <form class="uk-padding uk-grid-small" uk-grid>
    <div class="uk-width-1-4@s uk-text-right">
      <label class="uk-form-label">A</label>
    </div>
    <div class="uk-width-1-4@s">
      <input class="uk-input" type="text" placeholder="50">
    </div>
    <div class="uk-width-1-4@s  uk-text-right">
      <label class="uk-form-label">A</label>
    </div>
    <div class="uk-width-1-4@s">
      <input class="uk-input" type="text" placeholder="50">
    </div>
    <div class="uk-width-1-4@s  uk-text-right">
      <label class="uk-form-label">A</label>
    </div>
    <div class="uk-width-1-4@s">
      <input class="uk-input" type="text" placeholder="50">
    </div>
    <div class="uk-width-1-4@s  uk-text-right">
      <label class="uk-form-label">A</label>
    </div>
    <div class="uk-width-1-4@s">
      <input class="uk-input" type="text" placeholder="50">
    </div>
  </form>
</div>