<div class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport uk-animation-fade>
  <div class="uk-width-1-1">
    <div class="uk-container">
      <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
        <div class="uk-width-5-6 uk-margin-auto">
          <div class="uk-card uk-card-default uk-card-large uk-grid-collapse uk-child-width-1-2@s uk-margin uk-border-rounded" uk-grid>
            <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
              <img src="https://picsum.photos/2900/4334?image=870" alt="" uk-cover>
              <canvas width="600" height="400"></canvas>
            </div>
            <div>
              <div class="uk-card-body">
                <h3 class="uk-card-title uk-text-bold uk-text-uppercase uk-text-primary">Sign up</h3>
                <form>
                  <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">ID</label>
                    <div class="uk-form-controls">
                      <input class="uk-input" id="form-stacked-text" type="text" placeholder="">
                    </div>
                  </div>
                  <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Username</label>
                    <div class="uk-form-controls">
                      <input class="uk-input" id="form-stacked-text" type="text" placeholder="">
                    </div>
                  </div>
                  <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Password</label>
                    <div class="uk-form-controls">
                      <input class="uk-input" id="form-stacked-text" type="password" placeholder="">
                    </div>
                    <small class="uk-flex uk-flex-middle uk-margin-small-top">Minimum 6 characters, at least one letter and one number.</small>
                  </div>
                  <div class="uk-margin">
                    <div class="uk-form-controls">
                      <button class="uk-button uk-button-primary">Create Account</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>