<div class="uk-container">
  <form class="uk-form-horizontal uk-margin-large">

    <div class="uk-margin">
      <label class="uk-form-label" for="form-horizontal-text">グループ名</label>
      <div class="uk-form-controls">
        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="一意である必要があります">
      </div>
    </div>

    <div class="uk-margin">
      <label class="uk-form-label" for="form-horizontal-text">パスワード</label>
      <div class="uk-form-controls">
        <input class="uk-input" id="form-stacked-text" type="password" placeholder="">
      </div>
      <small class="uk-flex uk-flex-middle uk-margin-small-top">6文字以上で登録してください。</small>
    </div>

    <div class="uk-margin">
      <div class="uk-form-controls">
        <button class="uk-button uk-button-primary  uk-width-1-1 ">Create</button>
      </div>
    </div>

  </form>
</div>